<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:400,500,600,700" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='autocomplete.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chatbox.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Gesetzessuche</title>
</head>
<body>
    <h1>Suche nach Bundesgesetzen</h1>
    <h6>Gesetze erfasst ab Beginn der 21. Wahlperiode (26. Oktober 2021)</h6>
    <div class="autocomplete-container">
        <input type="text" id="law_search_term" placeholder="Suche nach Gesetzen..." autocomplete="off" >
        <div id="suggestions" class="autocomplete-suggestions"></div>
    </div>
    <h6 style="width: min(100%, 800px); margin: 20px auto;"><span style="color: red">Note</span>: Depending on your search term, multiple seemingly identical results may appear (e.g. when typing "Batterie"). Clicking on them will, however, reveal different legislative initiatives that happen to share the same title. This is not a bug, and mirrors the behaviour on the <a href="https://dip.bundestag.de">official German legislative database</a>. Even so, this will be adressed for a better user experience in a future update.</h6>

    <hr>
    <div id="content">{% block content %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='autoComplete.js') }}"> </script>
</body>
</html>