<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://www.google.de">Henlo</a>
    <ul>
        <li>bla</li>
        <li>blub</li>
    </ul>
    <form id="lawForm" method="GET">
        <input type="text" id="autocomplete" name="user_input" placeholder="Search laws..." autocomplete="off">
        <input type="hidden" id="id" name="id">
        <div id="suggestions"></div>
    </form>
    
</body>
</html>