.autocomplete-container {
    position: relative; /* needed for position:absolute in .autocomplete-suggestions */
    margin: 0 auto;
    width: 80%; 
    max-width: 800px;
    font-size: 16px;  
}

#law_search_term {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.autocomplete-suggestions {
    position: absolute; /* stick to container */
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 2px solid #ccc;
    border-top: none;
    border-radius: 5px;
    max-height: 300px; 
    overflow-y: auto; /* Add scroll if too many suggestions */
    display: none; /* Hidden by default, shown when typing */
    z-index: 10;
}

.autocomplete-suggestions .suggestion-item {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

.autocomplete-suggestions .suggestion-item:hover {
    background-color: #f0f0f0;
}

.autocomplete-suggestions .suggestion-item.focussed {
    background-color: #f0f0f0;
}